body {
	background: #eeeeee;
}

table {
	max-width: 100%;
}

#container {
	overflow: auto;
	width: 100%;
}

#capsule {
	padding: 20px 5%;
	background: white;
	width: 100%;
	overflow: scroll;
}

.title-bar {
	padding: 10px 5%;
	text-transform: uppercase;
	background: #4C9B59;
}

.title-bar a {
	color: white;
}

.title-bar h1 {
	padding-top: 0.3em;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 10px;
}