body {
	background: #eeeeee;
}

table {
	max-width: 100%;
}

.form-title {
	color: #444;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1.5rem;
}

#db-table {
	overflow: auto;
}

.button.round-top-right {
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 100;
	right: -25px;
	top: -25px;
	border-radius: 25px;
	font-size: 1rem;
	box-shadow: 0px 0px 1rem rgba(0,0,0,0.4);
}

#container {
	width: 100%;
}

#container .input-form {
	position: absolute;
	z-index: 9999;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: rgba(0,0,0,0.4);
	padding: 4rem 30px 0;

	max-height: 100%;
}

#container .form-wrapper {
	position: relative;
	overflow: scroll;
	padding: 2rem;
	height: 100%;
	width: 100%;
	background: #efefef;
	
}

#container .input-form form {
	position: relative;
	height: 100%;
}

#capsule {
	padding: 50px 5%;
	background: white;
	width: 100%;
	overflow: scroll;
}

.title-bar {
	padding: 10px 5%;
	text-transform: uppercase;
	background: #4C9B59;
}

.title-bar a {
	color: white;
}

.title-bar h1 {
	padding-top: 0.3em;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 10px;
}

.tabledit-edit-button {
	width: auto;

}