body {
	background: #eeeeee;
	min-height: 100%;
}

table {
	max-width: 100%;
}

table md-input-container, table .row-update .cell-value, table .row-edit .btn-edit,  table .row-edit .btn-delete, table .btn-confirm {
	display: none !important;
}

table .row-update md-input-container, table .row-edit .btn-confirm {
	display: inline !important;
}

table .toolbox {
	white-space: nowrap;
	text-align: right;
}

table td {
	vertical-align: middle !important;
}

table md-input-container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.md-input {
	float: none !important;
}

.md-block md-input-container, .search-form md-input-container {
	width: 100%;
}

table .md-errors-spacer {
	min-height: 0;
}


button.md-square {
	min-width: 36px;
}


@media (min-width: 960px) {
	#addDialog md-dialog {
		min-width: 90%;
	}
}

.main-sidenav.md-locked-open {
	min-width: 268px;
}

.navbar a:hover {
	color: white
}

.navbar .brand {
	color: white
}

md-dialog md-dialog-actions {
	z-index: 1;
}

md-dialog md-input-container {
	margin: 0;
}

md-dialog md-dialog-content {
	padding-top: 20px;
}

body.ng-cloak {
	visibility: visible;
}

.cloak-loader-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cloak-loader {
	display: block;
	background: #ccc;
	position: absolute;
	top: 0;
	z-index: 100;
	height: 100%;
	left: 0;
	width: 100%;
}

.cloak-loader.hide {
	display: none;
}



.tableFloatingHeaderOriginal {
	background: white;

}

#capsule {
	padding: 50px 5%;
	background: white;
	width: 100%;
}

#container {
	width: 100%;
	overflow: auto;
	min-height: 360px;
}