body {
	min-height: 100%;
}

table {
	max-width: 100%;
}

table md-input-container, table .row-update .cell-value, table .row-edit .btn-edit,  table .row-edit .btn-delete, table .btn-confirm {
	display: none !important;
}

table .row-update md-input-container, table .row-edit .btn-confirm {
	display: inline !important;
}

table .toolbox {
	white-space: nowrap;
	text-align: right;
}

table td {
	vertical-align: middle !important;
}

table md-input-container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.md-input {
	float: none !important;
}

.md-block md-input-container, .search-form md-input-container {
	width: 100%;
}

table .md-errors-spacer {
	min-height: 0;
}


button.md-square {
	min-width: 36px;
}


@media (min-width: 960px) {
	#addDialog md-dialog {
		min-width: 90%;
	}
}

.main-sidenav.md-locked-open {
	min-width: 268px;
}

.navbar a:hover {
	color: white
}

.navbar .brand {
	color: white
}

md-dialog md-dialog-actions {
	z-index: 1;
}

md-dialog md-input-container {
	margin: 0;
}

md-dialog md-dialog-content {
	padding-top: 20px;
}

body.ng-cloak {
	visibility: visible;
}

.cloak-loader-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cloak-loader {
	display: block;
	background: #ccc;
	position: absolute;
	top: 0;
	z-index: 100;
	height: 100%;
	left: 0;
	width: 100%;
}

.cloak-loader.hide {
	display: none;
}

.tableFloatingHeaderOriginal {
	background: white;
}

#capsule {
	width: 100%;
}

#container {
	width: 100%;
	overflow: auto;
	min-height: 160px;
}


.search-input {
	width: 100%;
}

.search-item-or::before, .search-item-and::before {
	position: absolute;
	left: -60px;
	background: #ccc;
}

.search-item-or, .search-item-and {
	position: relative;
	display: block;
	margin: 0.5em 0 0.5em 60px;
}

.search-item-or:first-child, .search-item-and:first-child {
	margin-left: 0;
}

.search-item-or::before {
	content: 'or';
}

.search-item-and::before {
	content: 'and';	
}

.search-item-or:first-child::before, .search-item-and:first-child::before {
	content: none
}

.search-item, .search-item-or::before, .search-item-and::before {
	padding: 5px 0 5px 15px;
	border-radius: 0.3em;
	min-height: 58px;
	line-height: 48px;
}

.search-item-or::before, .search-item-and::before {
	padding: 5px 7.5px;
}

.search-item {
	display: block;
	background: #9EC6FE;

}

.caption-switch {
	position: relative;
}

.caption-switch-title {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: -20px;
	font-weight: bold;
	font-size: 15px;
}

.chip-hide-removable md-chip {
	padding-right: 8px !important;
}

.main-menu .md-list-item-inner {
	font-weight: 700;
}

md-list-item.active {
	background: #222;
}

.fa-spacer .fa {
	margin-right: 0.5em;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 150px !important;
    width: 65vw !important;
    max-width: 250px !important;
} 

md-toolbar.logo {
	background: #222 !important;
	color: white !important;
}

form md-input-container {
	width: 100%;
}

.logo h1 {
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.logo img {
	margin-right: 0.5em;
	height: 1.5em;
}

.search-toggle {
	float: right;
}